In [ ]:
# Libraries

In [3]:
import pandas_datareader.data as wb
import datetime
start = datetime.datetime(2015, 1, 1)
end = datetime.datetime(2017, 1, 1)
facebook = wb.DataReader("FB", 'yahoo', start, end)

In [4]:
facebook

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2014-12-31,79.800003,77.860001,79.540001,78.019997,19935400,78.019997
2015-01-02,78.930000,77.699997,78.580002,78.449997,18177500,78.449997
2015-01-05,79.250000,76.860001,77.980003,77.190002,26452200,77.190002
2015-01-06,77.589996,75.360001,77.230003,76.150002,27399300,76.150002
2015-01-07,77.360001,75.820000,76.760002,76.150002,22045300,76.150002
...,...,...,...,...,...,...
2016-12-23,117.559998,116.300003,117.000000,117.269997,10890000,117.269997
2016-12-27,118.680000,116.860001,116.959999,118.010002,12051500,118.010002
2016-12-28,118.250000,116.650002,118.190002,116.919998,12087400,116.919998
2016-12-29,117.529999,116.059998,117.000000,116.349998,9934900,116.349998
2016-12-30,116.830002,114.769997,116.599998,115.050003,18684100,115.050003

In [ ]:
import sys
!conda install -c ranaroussi yfinance